<h1 id="tableLabel">Employess</h1>
<p *ngIf="!employees"><em>Loading...</em></p>

<form>
  <div class="input-group">
    <input type="text" [(ngModel)]="identityEmployee" class="form-control" name="identityEmployee" placeholder="Search employee">
    <div class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="searchEmployee()">Search</button>
    </div>
  </div>
</form>


<div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contract type name</th>
        <th>Role name</th>
        <th>Role description</th>
        <th>Hourly salary</th>
        <th>Monthly salary</th>
        <th>Annual Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.Name }}</td>
        <td>{{ employee.ContractTypeName }}</td>
        <td>{{ employee.RoleName }}</td>
        <td>{{ employee.RoleDescription }}</td>
        <td>{{ employee.HourlySalary }}</td>
        <td>{{ employee.MonthlySalary }}</td>
        <td>{{ employee.AnnualSalary }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
