<h1 id="tableLabel">Employess</h1>
<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contract type name</th>
      <th>Role name</th>
      <th>Role description</th>
      <th>Hourly salary</th>
      <th>Monthly salary</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.Name }}</td>
      <td>{{ employee.ContractTypeName }}</td>
      <td>{{ employee.RoleName }}</td>
      <td>{{ employee.RoleDescription }}</td>
      <td>{{ employee.HourlySalary }}</td>
      <td>{{ employee.MonthlySalary }}</td>
      <td></td>
    </tr>
  </tbody>
</table>


