<div class="row">
  <div class="col-md-6">
    <h1 id="tableLabel">Employess</h1>
  </div>
  <div class="col-md-6">
    <form>
      <div class="input-group">
        <input type="number" [(ngModel)]="identityEmployee" class="form-control" name="identityEmployee" placeholder="Search employee">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="searchEmployee()">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="mensajeEmployeeEmpy">
  <p>{{mensajeEmployeeEmpy}}</p>
</div>


<div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
    <thead class="text-center">
      <tr>
        <th>Name</th>
        <th>Contract type name</th>
        <th>Role name</th>
        <th>Role description</th>
        <th>Salary</th>
        <th>Annual Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.Name }}</td>
        <td>{{ employee.Contract }}</td>
        <td class="text-center">{{ employee.RoleName }}</td>
        <td>{{ employee.RoleDescription }}</td>
        <td class="text-right">{{  employee.Salary | currency: 'USD'}}</td>
        <td class="text-right">{{  employee.AnnualSalary | currency: 'USD' }}</td>
      </tr>
    </tbody>
  </table>
</div>
